@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.blue {
    background-color: #0282f9;
    height: 80px;
    .container {
        position: relative;

        .img-container {
            position: absolute;
            bottom: -70px;

            .relative {
                position: relative;
                border: 1px solid white;
                overflow: hidden;
                .absolute {
                    background-color: #0282f9;
                    color: white;
                    position: absolute;
                    padding: 3px;
                    
                }
                .bottom {
                    width: 100%;
                    text-align: center;
                    bottom: 1px;
    
                }
            }
            
        }
    }
}

.comic-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    
    &-text {
        width: 60%;

        h1 {
            text-transform: uppercase;
        }
        
        .green-table {
            background-color: rgb(97, 180, 97);
            color: white;
            display: flex;
            border-bottom: 1px solid #666;
            margin: 30px 0;

            &-plus {
                flex-grow: 1;
                display: flex;
                justify-content: space-between;
                border-right: 1px solid #666;
            }

            .info {
                padding: 5px 10px;
            }
           
        }
    }

}
.bg-gray-comic {
    background-color: #eee;
    border-top: 2px solid #ccc;;

    .comic-info {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    
        &-cont {
            width: 45%;

            h2 {
                border-bottom: 1px solid #ccc;
                padding: 20px 0;

            }
    
            &-inner {
                display: flex;
                padding: 10px 0;
                border-bottom: 1px solid #ccc;
                h4 {
                    width: 30%;
                }
    
                p {
                    width: 70%;
                    span {
                        color: #0282f9;
                        
                    }
                }

                .blue-text {
                    color: #0282f9;
                    text-transform: uppercase;
                }
            }
        }
    
    }

    .card-container {
        display: flex;

        .card{
            width: calc(100% / 4);
            border-right: 1px solid #ccc;
            padding: 10px;
            display: flex;
            justify-content: space-between;

            &:first-child {

                border-left: 1px solid #ccc;
            }

            &-name {
                text-transform: uppercase;
                color: #777;                
            }
        }
    }
}

#digital-comics-icon{
    width: 37px;
    height: 37px;
    background-image: url("/img/cta-icons.png");
}

#shop-dc-icon{
    width: 37px;
    height: 37px;
    background: url("/img/cta-icons.png") -111px 0;

}

#comic-shop-locator-icon{
    width: 37px;
    height: 37px;
    background: url("/img/cta-icons.png") -74px 0;

}

#subscriptions-icon{
    width: 37px;
    height: 37px;
    background: url("/img/cta-icons.png") -37px 0;

}