.blue {
    background-color: #0282f9;
    height: 80px;
    position: relative;
    img {
        position: absolute;
        bottom:40px;

    }
}

.comic-container {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;

    &-text {
        width: 60%;

        .green-table {
            background-color: rgb(97, 180, 97);
            color: white;
            display: flex;
            border-bottom: 1px solid #666;
            margin: 30px 0;

            &-plus {
                flex-grow: 1;
                display: flex;
                justify-content: space-between;
                border-right: 1px solid #666;
            }

            .info {
                padding: 5px 10px;
            }
           
        }
    }

    &-img {
        
    }  
}