.main-comics {
    background-color: black;
    position: relative;
    
    .current-serie-label {
        font-size: 40px;
        color: white;
        padding: 10px 20px;
        background-color: royalblue;
        display: inline-block;
        position: absolute;
        top: -50px;
        left: 250px;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px;
    
        .single-comic {

            width: calc(100% / 6);
            color: white;
            text-transform: uppercase;
            padding: 10px;
            h4 {

                font-weight: 300;
            }
            img {
                max-width: 100%;
            }
        }
    }

}