.main-comics {
    background-color: black;

    .container{
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
    
        .single-comic {

            width: calc(100% / 6);
            color: white;
            text-transform: uppercase;
            padding: 10px;
            h4 {

                font-weight: 300;
            }
            img {
                max-width: 100%;
            }
        }
    }

}