@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
// il primo non lo prende, lo rompe nella compilazione al punto&virgola
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

@import "classUtilities";
@import "reset";

header {
    .blue-row {
        background-color: rgb(2, 130, 249);

        .container {            
            height: 30px;
            display: flex;
            align-items: center;
            color: white;
            font-weight: 500;
            justify-content: flex-end;
    
            div {
                padding: 0 12px;
            }
        }

    }

    nav {
        background-color: white; 
        display: flex; 
        align-items: center;
        justify-content: space-between;

        .nav-logo {
            img {
                width: 60px;
                margin: 20px;
            }
        }

        .nav-menu {
            ul {
                display: flex;
                text-transform: uppercase;
                font-weight: bolder;
                
                li {
                    margin-left: 30px;
                }
            }
        }

        input {
            margin-left: 18px;
            text-align: right;

        }



    }
}

section.jumbo-container{
    height: 400px;
    background-image: url('/img/jumbotron.jpg');
    background-position: top;
}

footer {
    color: white;
    background-image: url('/img/footer-bg.jpg');
    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;

        .list-container {
            display: flex;
            .list-content {
                padding-right: 20px;
                ul {
                    padding-bottom: 20px;
                    li {
                        font-weight: 200;
                        color: rgba(255, 255, 255,0.5);
                        &:first-child {
                            font-weight: 500;
                            margin: 20px 0;
                            color: white;
                        }
                    }
                }
            }
        }

        img {
            position: absolute;
            right: 0;
            top: -20%;
            width: 500px;
        }

    }
}
