@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import "classUtilities";
@import "reset";
@import "header";
@import "home";
@import "comic";
@import "footer";



section.jumbo-container{
    height: 400px;
    background-image: url('/img/jumbotron.jpg');
    background-position: top;
}




.bg-blue {
    background-color: rgb(2, 130, 249);
    color: white;
    padding: 50px 0;

    .container{

        display: flex;
        justify-content: space-around;

        .content {

        text-transform: uppercase;
        color: white;
        display: flex;
        align-items: center;  

            img {
                max-height: 40px;
                max-width: 40px;
                margin-right: 10px;
            }
            .content-text {
                white-space: nowrap;
            }
        }
    }
}