@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);.container {
  max-width: 1200px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

header .blue-row {
  background-color: #0282f9;
}
header .blue-row .container {
  height: 30px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
  justify-content: flex-end;
}
header .blue-row .container div {
  padding: 0 12px;
}
header nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .nav-logo img {
  width: 60px;
  margin: 20px;
}
header nav .nav-menu ul {
  display: flex;
  text-transform: uppercase;
  font-weight: bolder;
}
header nav .nav-menu ul li {
  margin-left: 30px;
}
header nav input {
  margin-left: 18px;
  text-align: right;
}

.main-comics {
  background-color: black;
}
.main-comics .container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.main-comics .container .single-comic {
  width: calc(100% / 6);
  color: white;
  text-transform: uppercase;
  padding: 10px;
}
.main-comics .container .single-comic h4 {
  font-weight: 300;
}
.main-comics .container .single-comic img {
  max-width: 100%;
}

footer {
  color: rgba(255, 255, 255, 0.5);
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
}
footer .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
footer .container .list-container .list {
  display: flex;
}
footer .container .list-container .list .list-content {
  padding-right: 20px;
}
footer .container .list-container .list .list-content ul {
  padding-bottom: 20px;
}
footer .container .list-container .list .list-content ul li {
  font-weight: 200;
}
footer .container .list-container .list .list-content ul li:first-child {
  font-weight: 500;
  margin: 20px 0;
  color: white;
}
footer .container img.logo-dc {
  position: absolute;
  right: 0;
  top: -15%;
  width: 600px;
}
footer .container p {
  padding: 20px 0;
}
footer .container p a {
  color: #0282f9;
}
footer .bg-gray {
  background-color: #303030;
  padding: 30px 0;
  color: white;
}
footer .bg-gray .container {
  display: flex;
  align-items: center;
  font-size: 25px;
}
footer .bg-gray .container .custom-button {
  border: 3px solid #0282f9;
  padding: 15px 20px;
}
footer .bg-gray .container .follow {
  color: #0282f9;
  display: flex;
}
footer .bg-gray .container .follow .follow-imgs {
  margin-left: 20px;
}
footer .bg-gray .container .follow .follow-imgs img {
  margin-right: 10px;
}

section.jumbo-container {
  height: 400px;
  background-image: url("/img/jumbotron.jpg");
  background-position: top;
}

.bg-blue {
  background-color: #0282f9;
  color: white;
  padding: 50px 0;
}
.bg-blue .container {
  display: flex;
  justify-content: space-around;
}
.bg-blue .container .content {
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center;
}
.bg-blue .container .content img {
  max-height: 40px;
  max-width: 40px;
  margin-right: 10px;
}
.bg-blue .container .content .content-text {
  white-space: nowrap;
}